<link rel="import" href="../polymer/polymer.html">

<polymer-element name="timedemo-smartgrid-app-globals">

    <script>
        Polymer('timedemo-smartgrid-app-globals', {
            // load SmartGrid module
            _smartGridModule: null,
            _saver: null,
            _loader: null,
            _cloner: null,
            _compare: null,
            _datastore: null,

            factory: null,

            NUM_METERS: 8,
            NUM_TIME_WINDOWS: 10,
            TIME_WINDOW_SIZE: 900000, // 15 mins
            START_DATE: new Date(2014, 6, 2, 0, 0, 0, 0),
            NUM_PREDICTION_WINDOWS: 10,

            smartGridModel: null,
            timepoints: null,

            ready: function () {
                this._smartGridModule = Kotlin.modules['lu.snt.timedemo.model.js'];
                this._saver = new this._smartGridModule.lu.snt.timedemo.smartgrid.serializer.XMIModelSerializer();
                this._loader = new this._smartGridModule.lu.snt.timedemo.smartgrid.loader.JSONModelLoader();
                this._cloner = new this._smartGridModule.lu.snt.timedemo.smartgrid.cloner.DefaultModelCloner();
                this._compare = new this._smartGridModule.lu.snt.timedemo.smartgrid.compare.DefaultModelCompare();
                this._datastore = new this._smartGridModule.org.kevoree.modeling.api.persistence.MemoryDataStore();

                this.factory = new this._smartGridModule.lu.snt.timedemo.smartgrid.impl.DefaultSmartgridFactory();
                this.factory.datastore = this._datastore;

                this.timepoints = new Array();
                this.smartGridModel = this.createSmartGridModel();

            },

            newVisitor: function () {
                return new this._smartGridModule.org.kevoree.modeling.api.util.ModelVisitor();
            },


            createSmartGridModel: function () {
                // create model
                var tp0 = this.factory.time(this.START_DATE.getTime() + "");
                var grid = tp0.factory().createSmartGridModel();
                this.factory.setRoot(grid);

                var concentrator = tp0.factory().createConcentrator();
                concentrator.name = "concentrator";
                grid.addConcentrators(concentrator);

                for (var i = 0; i < this.NUM_METERS; i++) {
                    var meter = tp0.factory().createSmartMeter();
                    meter.name = "meter_" + i;
                    meter.consumption = 0;
                    meter.concentrator = concentrator;
                    grid.addMeters(meter);
                }

                tp0.commit();
//                var s = this._saver.serialize(grid);
//                console.log(s);
//                console.log('----------------------------------');


                this.timepoints.push(this.START_DATE);
                // add consumption history
                for (var i = 0; i < this.NUM_METERS; i++) {
                    var lastTime = this.START_DATE.getTime();
                    for (var j = 1; j < this.NUM_TIME_WINDOWS; j++) {

                        var randomMax = (2 * this.TIME_WINDOW_SIZE);
                        var randomMin = (this.TIME_WINDOW_SIZE);
                        var random = Math.floor((Math.random() * randomMax) + randomMin);
                        var newTime = random + lastTime;

                        var d = new Date();
                        d.setTime(newTime);
                        if (this.timepoints.indexOf(d) != null) {
                            this.timepoints.push(d);
                        }
                        lastTime = newTime;

                        var tp_i = this.factory.time(newTime + "");
                        var model_tp_i = tp_i.lookup("/");

                        var meter_tp_i = model_tp_i.findMetersByID("meter_" + i);
                        var newConsumption = this.createConsumption(meter_tp_i.consumption);
                        if (newConsumption != null) {
                            meter_tp_i.consumption = newConsumption;
                        }
                        tp_i.commit();
//                        var s = this._saver.serialize(model_tp_i);
//                        console.log(s);
//                        console.log('----------------------------------');
                    }
                }

                return grid;
            },

            createConsumption: function () {
                var random = Math.floor((Math.random() * 500) + 1);
                var newConsumption = random;

                var error = Math.floor((Math.random() * 5)) % 5 == 0;

                if (error) {
                    random = null;
                }
                return newConsumption;
            }
        })
        ;

    </script>
</polymer-element>